src/*.exe
src/logicoin
src/logicoind
src/test_logicoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.logicoin

# Compilation and QT
*.qm
Makefile
logicoin-qt
Logicoin-Qt.app

# Unit-tests
Makefile.test
logicoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt Creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
